* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #FEFAF6;
    color: #102C57;
}
.container {
    margin: 10px 10%;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
#logo {
    font-family: 'Pacifico', cursive; 
    font-size: 48px; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    letter-spacing: 2px;
    line-height: 1.2;
    position: relative; 
}
#logo::first-letter {
    color: #102C57; 
    font-size: larger;
    letter-spacing: 0.1;
    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #102C57;
    font-size: 20px;
    position: relative;

}

/* adding the after psuedo element on the 
element of lists */
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #DAC0A3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.header-text div {
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text div p {
    font-size: 24px;
    font-family: sans-serif;
}
.header-text div h1 {
    margin-top: 15px;
    font-size: 45px;
}
.header-text div h1 span {
    color: #DAC0A3;
    font-family: cursive;
 
}

/* ---about section----- */
#about{
    padding: 80px 0;
    color: #102C57;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    height: 300px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:  #DAC0A3;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    position: absolute;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color:  #DAC0A3;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}